@use "sass:color";
@use "/src/assets/sass/vars" as *;

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;

    font: {
        size: 0.9rem;
    }

    &__item {}

    &__link {
        --icon-size: 15px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);

        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        gap: 5px;

        text-transform: uppercase;
    }
}