@use "sass:color";
@use "/src/assets/sass/vars" as *;

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;

    font: {
        size: 0.9rem;
    }

    &__item {

        font: {
            family: "Roboto Condensed", sans-serif, arial;
            weight: 500;
            stretch: 0;
        }

        &:last-of-type {

            a {
                padding-right: 0;
            }
        }
    }

    &__link {
        --icon-size: 15px;
        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 5px;
        transition: 300ms ease;

        &:hover {
            opacity: 0.7;
        }

        &,
        &:active {
            opacity: 1;
        }

        &:active {
            transition: none;
        }
    }

    // MODIFICADORES
    &--landscape {

        @media screen and (max-width: 820px) {
            display: none;
        }
    }

    &--portrait {
        flex-direction: column;
        align-items: flex-start;

        --icon-color: white;
    }
}