@use "sass:color";
@use "../../../assets/sass/vars" as *;

.instagram {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    flex-grow: 1;

    --icon-size: 120px;

    @media screen and (min-width: 420px) and (max-width: 820px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 419px) {
        grid-template-columns: 1fr;
    }

    &__item {
        border: 1px solid rgba($base-color, 0.1);
        position: relative;
        border-radius: 5px;
        box-shadow: 2px 2px 0 2px rgba($base-color, 0.07);
        overflow: clip;
        cursor: pointer;
        user-select: none;
        transition: 300ms ease;

        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);

        &:hover {

            .instagram {

                &__content {
                    opacity: 1;
                    padding-top: 40px;
                    padding-bottom: 10px;
                }

                &__svg {

                    &-container {
                        padding-bottom: 40px;
                    }
                }
            }
        }

        &:active {

            .instagram {

                &__content {
                    opacity: 0.9;
                    transition: none;
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            z-index: 1;
            pointer-events: none;
            background-color: rgba(black, 0.2);
            background-image: linear-gradient(45deg, rgba(black, 0.3), transparent);
        }
    }

    &__header {
        aspect-ratio: 4/3;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg {
            margin: 0 auto;
        }

        img {
            display: block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__content {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 30;
        pointer-events: none;
        user-select: none;
        background-color: rgba(black, 0.87);
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 0;
        transition: 300ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        color: $instagram-color-03;
    }

    &__svg {
        position: relative;

        --icon-width: 40px;
        --icon-height: 40px;

        &-container {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 40;
            pointer-events: none;
            background-color: rgba(black, 0.4);
            transition: 300ms ease;
        }
    }
}