@use "sass:color";
@use "../../../assets/sass/vars" as *;

.why {
    overflow: clip;
    transition: 300ms ease height;
    position: relative;
    transition: 300ms ease;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 2px transparent;

    &[open] {
        box-shadow: 2px 2px 0 2px rgba($base-color, 0.1);
    }

    &__title {
        margin: 0;
        cursor: pointer;
        transition: 300ms ease;
        padding: 11px 20px;

        // border: 1px solid rgba($base-color, 0.3);
        border-radius: 5px;

        &:hover {
            background-color: rgba($base-color, 0.07);
        }
    }

    &__content {
        position: relative;
        padding: 10px;
        background-color: white;
        transition: 3s ease;
        overflow: clip;
        background-color: rgba($base-color, 0.05);
        color: $desaturate-base-color;
        border-radius: 0 0 5px 5px;
    }
}

.google {
    --icon-size: 120px;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: clip;
    border-radius: 10px;

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__description {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to top, rgba(black, 0.2), transparent);

        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 20px;
    }
}