@use "sass:color";
@use "../../../assets/sass/vars" as *;

.header {
    --top: 0;

    position: sticky;
    top: var(--top);

    min-height: 20px;
    z-index: 1000;
    transition: 300ms;
    background-color: white;

    --diagonal: 35px;
    --clip-path: polygon(0 0,
            100% 0,
            calc(100% - var(--diagonal)) 100%,
            var(--diagonal) 100%);

    &__blackbar {

        background-color: black;
        height: 35px;
        margin: 0 auto;
        width: $width;
        max-width: $max-width;
        overflow: visible;
        clip-path: var(--clip-path);

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
    }

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 200ms ease;
        width: $width;
        max-width: $max-width;

        &--white {
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0 auto;
            --icon-color: black;
        }
    }

    &__menu {

        &--red {
            color: white;
        }

        &--white {
            color: black;
        }
    }

    &__logo {
        --icon-size: 60px;

        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: #{$base-color};

        display: flex;
        color: $secondary-color;
        line-height: 1.2;
        gap: 10px;

        font: {
            size: 1.3rem;
        }
    }

    &__social-media {
        background-color: $desaturate-base-color;
        color: white;
        height: 50px;
        display: flex;
    }

    &__social {

        &-inner {
            margin: 0 auto;
            max-width: $max-width;
            width: $width;
            height: 100%;
            position: relative;
            user-select: none;

            svg {
                margin: 0;
                display: flex;
            }

            display: flex;
            justify-content: space-between;

            --icon-color: white;
            --icon-size: 20px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);
        }

        &-item {
            display: flex;

            &--left {
                align-items: center;
                gap: 5px;
            }

            &--right {
                justify-content: flex-end;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: center;
            padding: 0 15px;
            transition: 300ms ease;

            --icon-color: white;
            --icon-size: 22px;
            --icon-width: var(--icon-size);
            --icon-height: var(--icon-size);

            &:not(:first-of-type) {
                border-left: 1px solid rgba(white, 0.1);
            }

            &--email {
                gap: 5px;
                padding: 0;

                @media screen and (max-width: 600px) {
                    span {
                        display: none;
                    }
                }

                svg,
                path {
                    transition: 300ms ease;
                }

                &:hover {
                    --icon-color: rgb(0, 247, 0);
                }

                &:active {

                    &,
                    svg,
                    path {
                        transition: none;
                    }

                    & {
                        --icon-color: white;
                    }
                }
            }

            &--whatsapp {
                --icon-size: 18px;

                background-color: $whatsapp-color;
                gap: 5px;
                position: relative;

                &:hover {
                    background-color: color.adjust($color: $whatsapp-color, $lightness: -10%);
                }

                &:active {
                    background-color: $whatsapp-color;
                    transition: none;
                }
            }

            &--facebook {

                &:hover {
                    background-color: $facebook-color;
                }

                &:active {
                    transition: none;
                    background-color: rgba($facebook-color, 0.7);
                }
            }

            &--instagram {

                &:hover {
                    background-color: $instagram-color-01;
                    background-image: linear-gradient(-125deg, $instagram-color-01 20%, $instagram-color-02, $instagram-color-03, $instagram-color-04)
                }

                &:active {
                    transition: none;
                    background-color: rgba($instagram-color-01, 0.7);
                }
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        margin: 0;

        @media screen and (max-width: 980px) {

            span {
                display: none;
            }
        }
    }
}