@use "sass:color";
@use "../../../assets/sass/vars" as *;

.header {
    --top: 0;

    position: sticky;
    top: var(--top);

    min-height: 20px;
    z-index: 1000;
    transition: 300ms;
    background-color: white;

    --diagonal: 35px;
    --clip-path: polygon(0 0,
            100% 0,
            calc(100% - var(--diagonal)) 100%,
            var(--diagonal) 100%);

    &__blackbar {

        background-color: black;
        height: 35px;
        margin: 0 auto;
        width: $width;
        max-width: $max-width;
        overflow: visible;
        clip-path: var(--clip-path);

        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
    }

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 200ms ease;
        transition-delay: 200ms;

        &--white {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: $max-width;
            margin: 0 auto;
            --icon-color: black;
        }
    }

    &__menu {

        &--red {
            color: white;
        }

        &--white {
            color: black;
        }
    }

    &__logo {
        --icon-size: 100px;

        --icon-width: var(--icon-size);
        --icon-height: var(--icon-size);
        --icon-color: #{$base-color};
    }

    &__social-media {
        background-color: $desaturate-base-color;
        color: white;
        height: 50px;
        display: flex;
    }

    &__social-inner {
        margin: 0 auto;
        max-width: $max-width;
        width: $width;

        display: flex;
        align-items: center;
    }
}