@use "sass:color";
@use ".././../../assets/sass/vars" as *;

.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    &__item {
        min-height: 40px;
        position: relative;
    }

    &__header {
        position: relative;
        z-index: 1;

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
            background-color: white;
            margin: 0 auto;

            -moz-object-fit: cover;
            -webkit-object-fit: cover;
            object-fit: cover;

            --image-size: 120px;
            width: var(--image-size);
            height: var(--image-size);

            box-shadow: 2px 2px 0 2px rgba($base-color, 0.07);
        }
    }

    &__content {
        padding-top: 20px;
        background-color: white;
        border: 1px solid rgba($base-color, 0.2);
        margin-top: -60px;

        padding-top: 70px;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        text-align: center;

        box-shadow: 2px 2px 0 2px rgba($base-color, 0.07);
    }

    &__title {
        margin: 0;
        text-align: center;
        line-height: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        font: {
            size: 1.3rem;

        }
    }

    &__description {
        margin-top: 10px;
    }
}