@use "sass:color";
@use "../../../../assets/sass/vars" as *;

.modal {

    &-container {
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: var(--top);
        height: calc(100% - var(--top));
        z-index: 999;
        background-color: rgba(black, 0.3);
        padding: 0;
        overflow: hidden;
        background-color: rgba($desaturate-base-color, .98);
        background-image: linear-gradient(-45deg, black, rgba(black, 0.7));
        display: flex;

        @media screen and (min-width: 1025px) {
            display: none;
        }
    }

    & {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow: auto;

        animation: 300ms ease open forwards;
    }

    &__container {
        padding: 30px 20px;
    }

    &__title {
        color: $secondary-color;
        border-bottom: 1px solid rgba($base-color, 0.1);
        background-color: rgba($base-color, 0.05);
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        margin: 0;

        &:first-of-type {
            margin-top: 0;
        }

        &:not(:first-of-type) {
            margin-top: 10px;
        }

        font: {
            size: 1.2rem;
        }
    }
}

@keyframes open-windows {
    from {
        opacity: 0;
        height: calc(100vh - 30px);
        transform: scale(0.98) translateY(-30px);
    }

    to {
        opacity: 1;
        transform: scale(1);
        height: 100vh;
    }
}