// Colores:
$backcolor: white;
$base-color: #e30613ff;

$header-color: white;
$footer-color: black;

// Tamaños
$max-width: 1200px;
$width: calc(100% - 30px);
$normal-width: 100%;

// Colores de las redes sociales:
$facebook-color: #1877F2;
$instagram-color-01: #833AB4;
$instagram-color-02: #E1306C;
$instagram-color-03: #FD1D1D;
$instagram-color-04: #FCAF45;
$whatsapp-color: #25D366;